@chasrset 'utf-8';

@media screen and (min-width:1920px){
	/* common */
	body{ font-size: 25px; }
	.wrapper{ width: 80%; max-width:none;}
	header .wrapper{ width: 94%; }
}
@media screen and (max-width:1024px){
	/* common */
	.wrapper{ width: 88%; }
	.i_dot:before{ display: none; }
	.pop { min-width: auto; min-height: auto; width: 85%; }
	.dis_tbl{ display: block; }
	.dis_tbl > div{ display: block; }
	header .wrapper{padding: 1.5% 0;width: 92%;}
	header .wrapper h1{ position: static; float: left; width: 80px; min-width: 	auto; }
	header .wrapper #gnb{ position: static; float: right; }
	header .wrapper #gnb .gnb-btn span{ height: 2px; }
	header .wrapper #gnb .gnb-nav{transform: rotate(0);top: 62px;right: 0;width: 100%;background: #2e2a2a;z-index: 97;/* height: 100%; */}
	header .wrapper #gnb .gnb-btn.on + .gnb-nav{ right: 0; }
	header .wrapper #gnb .gnb-nav li{display:block;width:100%;padding:0;box-sizing: border-box;}
	header .wrapper #gnb .gnb-nav li a{display: block;width: 100%;padding: 2% 5%;color:#fff;box-sizing: border-box;}
	header .wrapper #gnb .gnb-nav li:hover a{background:#383838}
	header .wrapper #gnb .gnb-nav li:hover a:after{ display:none; }
	header.black{ background: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,.2); }
	header.black h1{display:block;}	
	header.black #gnb .gnb-btn span{background: #454545;}	

	/* main */
	#contents section{ height: auto; min-height:800px; }
	#contents .main-slider{ height: auto; }
	#contents section .main-slider .wrapper { padding-top: 10%; }
	#contents section .main-slider > li .img { width: 100%; max-height: 500px;  overflow: hidden;}
	#contents section .main-slider > li .txt { width: 100%; margin-top: 3%; text-align: center; }
	#contents .main .bx-pager{display: none; }
	#contents section .main-slider > li .txt .tit + p:after { top: 54px; left:50%; width: 60%; height: 1px; transform: translateX(-50%); }
	#contents .career > div{width: 100%;padding: 8% 5%;box-sizing: border-box;}
	#contents .career > div .cont_small{width: 100%;min-width:auto;float: none;}
	#contents .career > div .cont_small li{margin-right: 0;padding: 3vw;box-sizing: border-box;}
	#contents .career > div .cont_small li:before{ display: none; }
	#contents .career > div .cont_small li:after{ display: none; }
	#contents .career > div .cont_small dl{ margin-left: 0; }
}

@media screen and (max-width:960px){
	/* common */
	body{ font-size: 15px; }
}

@media screen and (max-width:740px){
	/* common */
	body{ font-size: 13px; }

	/* main */
	#contents section{ min-height:auto; }
	#contents section .main-slider .wrapper{ padding-top: 15%; }
	#contents section .main-slider > li .img{ height: 340px; }
	#contents section .main-slider > li .txt .tit{ font-size: 2.25rem; }
	#contents section .main-slider > li .txt .tit + p{font-size: 1rem;margin-top: 2%;margin-bottom: 7%;}
	#contents section .main-slider > li .txt .tit + p:after{ display: none; }
	#contents section .main-slider > li .txt .tit + p span{ display: block; }
	#contents .main .bx-controls-direction{ display: none; }
	.pop{ width: 92%; }
	.pop .i_cancel{ display: none; }
	.pop h3{ font-size: 1.8rem; }
	.pop h3 small{ padding: 2px 10px;font-size: .825rem; }
	.pop h3 span { display: block; position: static; margin-top: 6px; }
	.pop .per li:nth-child(1){ margin-bottom: 2%; }
	.pop .bg li{ width: 29%; }
	.pop .bg li .txt { font-size: .725rem; }
	#contents .career > div{ padding: 12% 5%; }
	#contents .career > div .cont_small dl{margin-bottom: 8%;padding-bottom: 14%;}
	#contents .career > div .cont_small dl:after{left: 50%;height: 40px;bottom: 0px;}
	#contents .career > div .cont_small dl dt{ display: block; margin: 0 auto; }
	#contents .career > div .cont_small dl dd{ width: 100%; margin-top: 3%; text-align: center; }
}

@media screen and (max-width:480px){
	/* common */
	#contents section .main-slider .wrapper{ padding-top: 18%; }
	
	/* main */
	#contents section .main-slider > li .img{ height: 220px; }
}