@charset 'utf-8';

.sub_cont{ margin-top: 7.5%; margin-bottom: 8%; }
.sub_cont h2{ font-size: 3rem; font-weight: 200; margin-bottom: 4%;  text-align: center;}
.sub_cont .list > li{ width: 33.3333%;float: left;  overflow: hidden; transition:all .4s;}
.sub_cont .list > li a{ display: block; position: relative; width: 100%; transition:all .4s;}
.sub_cont .list > li:hover a img{ transform:scale(1.15); transition:all .8s; }
.sub_cont .list > li a .inner{position: absolute;top: 400px;left: 0;width: 100%;height: 100%; opacity: 0; background:rgba(255, 160, 58, .92);text-align: center;color: #fff;}
.sub_cont .list > li:nth-child(odd) a .inner{background:rgba(69, 175, 188, .92);}
.sub_cont .list > li a .inner h3 {margin-top: 26%;font-size: 1.825rem;font-weight: 100;}
.sub_cont .list > li a .inner .ani{position: relative;width: 100%;padding: 6% 10%;box-sizing: border-box;}
.sub_cont .list > li a .inner .ani span{display: block;position: absolute;top: 50%;left: 50%;width: 0%;height: 1px; opacity: 0; transform: translateX(-50%);background: #fff;transform-origin: center; transition:all  1s .3s;}
.sub_cont .list > li:hover a .inner .ani span{ width: 25%; opacity: 1;}
.sub_cont .list > li a .inner .period{display: inline-block;padding: 6px 10px;margin-bottom: 12px;background: #fff;color: #777;}