@charset 'utf-8';
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*초기화*/
*{
	padding:0;
	margin:0;
}

img{
	vertical-align:top;
	border:0;
	width:100%;
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#222;
}

/*공통*/
.wrapper{
	margin:0 auto;
	width:1170px;
	position:relative;
}
body{
	color:#222;
	font-family: 'Nanum Gothic', sans-serif;
}


 /*font-weight:bold*/
.on{
	font-weight:900;
}

/*con_title*/
.title{
	width:100%;
	text-align:center;
}
.title > .wrapper{
	height:84px;
	padding-top:40px;
}
.title > .wrapper > div{
	height:60px;
}
.title >.wrapper > div > h2{
	font-size:26px;
	font-family:'roboto';
	color:#222;
	font-weight:400;
}
.title >.wrapper > div > span{
	color:#8b8b8b;
	font-size:12px;
	width:150px;
	height:20px;
	display:block;
	margin:0 auto;
}
/*button*/
.button{
	width:125px; 
	height:40px;
	border:1px solid #fff;
	border-radius:5px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
    line-height:40px;
	text-align:center;
	position:absolute;
}
/*btn*/
.button150{
	width:150px;
	height:38px;
	background:#a01f30;
	border-radius:5px;
	position:absolute;
	bottom:-10px;
	right:0;
	display:block;
	color:#fff;
	text-align:center;
	line-height:38px;
	font-size:14px;
	font-weight:bold;
}

/*.caption*/
.caption{
	background:rgba(0,0,0,0.3);
	position:absolute;
	bottom:0;
	left:0;
	padding:10px;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:1.4;
}
/*shadow*/
	.shadow{
	background:rgba(0,0,0,0.35);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:462px;
	display:block;
}


/*float해제*/
.wrapper:after{
	height:0;
	display:block;
	clear:both;
	content:'';
}
ul:after{
	content:'';
	height:0;
	clear:both;
	display:block;
}
/*.clearfix*/
.clearfix:after{
	content:'';
	height:0;
	clear:both;
	display:block;
}
/*inner*/
.inner{
	width:100%;
	position:relative;
}
/*content*/
.content{
	width:100%;
}
.content > div{
	width:100%;
}

.btn7f{
	background:#7f7f7f;
	display:inline-block;
	width:80px;
	height:36px;
	border-radius:5px;
	text-align:center;
	line-height:36px;
	color:#fff;
	font-weight:600;
	font-size:13px;
}
.btn33{
	background:#333;
	display:inline-block;
	width:98px;
	height:36px;
	border-radius:5px;
	text-align:center;
	line-height:36px;
	color:#fff;
	font-weight:600;
	font-size:13px;
}
.btn33S{
	height:27px;
	background:#333;
	border-radius:5px;
	line-height:27px;
	text-align:center;
	display:inline-block;
	font-size:12px;
	padding:0 15px;
	color:#fff;
}
/*gray_button*/
.grayBtn{
	width:92px;
	height:25px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:5px;
	line-height:25px;
	text-align:center;
	float:left;
	display:block;
	font-size:12px;
}
.grayBtnS{
	width:108px;
	height:38px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:5px;
	line-height:38px;
	text-align:center;
	display:inline-block;
	font-size:13px;
	font-weight:600;
}
.grayBtnM{
	width:164px;
	height:38px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:5px;
	line-height:38px;
	text-align:center;
	display:inline-block;
	font-size:13px;
	font-weight:600;
}
.payBtn{
	padding:0 50px;
	height:55px;
	background:#a01f30;
	border-radius:5px;
	line-height:55px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#fff;
	font-weight:600;
}
.payBtnS{
	width:165px;
	height:40px;
	background:#a01f30;
	border-radius:5px;
	line-height:40px;
	text-align:center;
	display:inline-block;
	font-size:13px;
	font-weight:600;
	color:#fff;
}
.payBtnL{
	width:328px;
	height:55px;
	background:#a01f30;
	border-radius:5px;
	line-height:55px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#fff;
	font-weight:600;
}
.payBtnBig{
	padding:0 20px;
	height:65px;
	width:150px;
	background:#a01f30;
	border-radius:5px;
	line-height:65px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#fff;
	font-weight:600;
}
.serveBtn{
	padding:0 50px;
	height:53px;
	background:#eee;
	border-radius:5px;
	line-height:55px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#333;
	font-weight:600;
	border:1px solid #d1d1d1;
}
.whiteBtn{
	height:25px;
	background:#fff;
	border:1px solid #c5c5c5;
	border-radius:5px;
	line-height:25px;
	text-align:center;
	display:inline-block;
	font-size:12px;
	padding:0 15px;
}
.whiteBtnS{
	height:20px;
	background:#fff;
	border:1px solid #c5c5c5;
	border-radius:5px;
	line-height:20px;
	text-align:center;
	display:inline-block;
	font-size:12px;
	padding:0 10px;
}
.cancelBtn{
	width:12px;
	height:12px;
	background:#eee;
	border:1px solid #c5c5c5;
	border-radius:2px;
	line-height:12px;
	text-align:center;
	display:inline-block;
	font-size:5px;
	position:absolute;
	color:#c5c5c5;
	right:20px;
	cursor:pointer;
}

.con{
	margin-top:50px;
	width:100%;
}
.ulStyle{
	width:1170px;
	border-top:2px solid #951929;
	border-bottom:2px solid #979797;
}
.ulStyle > li{
	width:1170px;
	border-bottom:2px solid #eee;
}
.ulStyle2{
	width:1170px;
	border-top:2px solid #333;
	border-bottom:2px solid #979797;
}
.ulStyle3{
	border-top:2px solid #951929;
	border-bottom:2px solid #951929;
}
.label{
	width:114px;
	background:#f5f5f5;
	font-size:14px;
	padding:24px 15px;
	border-right:2px solid #eee;
	font-weight:bold;
	float:left;
}

.checkbox{
	width:16px;
	height:16px;
}
.checkbox2{
	width:16px;
	height:16px;
} 
.cons{
	padding:14px 0;
	padding-left:15px;
	font-size:14px;
	float:left;
}
.input{
	height:34px;
	border-radius:5px;
	border:1px solid #c5c5c5;
	padding:0 10px;
	margin-right:4px;
	font-size:13px;
}
.inputBig{
	height:63px;
	border-radius:5px;
	border:1px solid #c5c5c5;
	padding:0 10px;
	font-size:13px;
	color:#777;
}
.select{
	height:36px;
	border-radius:5px;
	border:1px solid #c5c5c5;
	padding:0px 10px;
	margin-right:4px;
	font-size:13px;
	color:#333;
	line-height:36px;
	vertical-align:top;
}

/*position*/
.poR{
	position:relative;
}
.poA{
	position:absolute;
}
/*text-align*/
.textR{
	text-align:right;
}
/*vertical-align*/
.verM{
	vertical-align:middle;
}
.verT{
	vertical-align:top;
}
/*float*/
.floatL{
	float:left;
}
.floatR{
	float:right;
}
}
/*border:0;*/
.bor0{
	border:0;
}
.borB0{
	border-bottom:0px;
}
.borR1{
	border-right:1px solid #c5c5c5;
}
.borR2{
	border-right:2px solid #eee;
}
/*line-height*/
.lineH36{
	line-height:36px;
}
/*color*/
.col3{
	color:#333;
}
.col7{
	color:#777;
}
.colPoint{
	color:#a01f30;
}
.red{
	color:#bf0019;
}
/*font-size*/

.f12{
	font-size:12px;
}
.f13{
	font-size:13px;
}
.f14{
	font-size:14px;
}
.f36{
	font-size:36px;
}
/*display:block;*/
.blk{
  display:block; 
}
.iblk{
  display:inline-block; 
}
/*magin*/
/*margin-bottom*/
.mB5{
	margin-bottom:5px;
}
.mB4{
	margin-bottom:4px;
}
.mT5{
	margin-top:5px;
}
.mT8{
	margin-top:8px;
}
.mT15{
	margin-top:15px;
}

.mT20{
	margin-top:20px;
}
.mT25{
	margin-top:25px;
}
.mT40{
	margin-top:40px;
}
.mT35{
	margin-top:35px;
}

.mR4{
	margin-right:4px;
}
.mR5{
	margin-right:5px;
}
.mR10{
	margin-right:10px;
}
.mR15{
	margin-right:15px;
}
.mR20{
	margin-right:20px;
}
.mR50{
	margin-right:50px;
}
.mB20{
	margin-bottom:20px;
}
.mB15{
	margin-bottom:15px;
}
.mB10{
	margin-bottom:10px;
}

.mB5{
	margin-bottom:5px;
}
.mT5{
	margin-top:5px;
}
.mT8{
	margin-top:8px;
}
.mR4{
	margin-right:4px;
}
.mR5{
	margin-right:5px;
}
.mR10{
	margin-right:10px;
}
.mR15{
	margin-right:15px;
}
.mB20{
	margin-bottom:20px;
}
.mB15{
	margin-bottom:15px;
}
.mB10{
	margin-bottom:10px;
}
/*padding*/
.pdBig{
	padding:65px 15px;
}
.pd35{
	padding:35px 15px;
}
.pd37{
	padding:37px 15px;
}
.pdR8{
	padding-right:8px;
}
.pdB3{
	padding-bottom:3px;
}
/*padding*/
.pdBig{
	padding:65px 15px;
}
.pd35{
	padding:35px 15px;
}
.pd37{
	padding:37px 15px;
}
.pdR8{
	padding-right:8px;
}
.pdB3{
	padding-bottom:3px;
}
/*width*/
/*width_Default*/
.wtD{
	width:180px;
}
/*width_DubbleLong*/
.wtLL{
	width:738px;
}
/*width_Long*/
.wtL{
	width:350px;
}
/*width_DubbleLong*/
.wtDLL{
	width:636px;
}
/*width_DubbleLong*/
.wtDL{
	width:376px;
}
/*width_Long*/
.wtL{
	width:354px;
}
/*width_Medium*/
.wtM{
	width:124px;
}
/*width_Short*/
.wtS{
	width:70px;
}

/*width_MediumLong*/
.wtML{
	width:175px;
}
.wtMLL{
	width:233px;
}
/*width_LongMedium*/
.wtLM{
	width:248px;
}
/*width_Min*/
.wtMin{
	width:55px;
}
/*width_Short*/
.wtS{
	width:70px;
}
.wt66{
	width:66px;
}
.wt95{
	width:95px;
}
.wt130{
	width:130px;
}
.wt374{
	width:374px;
}
/*height*/
.ht28{
	height:28px;
}


/*
	header
*/
#header{
	width:100%;
}
/*LNB*/
#header > .nav1{
	width:100%;
	background:#a01f31;
}
.nav1 > .wrapper{
	height:36px;
}
.nav1 > .wrapper > ul{
	height:36px;
}
.nav1 > .wrapper > ul > li{
	float:left;
}
.nav1 > .wrapper > ul > li > a{
	display:block;
	height:36px;
	margin-left:5px;
	padding:0 10px;
	line-height:36px;
	color:#fff;
	font-size:12px;
}
.nav1 > .wrapper > ul > li:nth-child(1) > a{
	margin-left:0;
}

/*LNB_left*/
.nav1 > .wrapper > ul:nth-child(1){
	float:left;
}
/*LNB_right*/
.nav1 > .wrapper > ul:nth-child(2){
	float:right;
}

/*mainHeader*/
#header > .mainHeader{
	width:100%;
}
/*LOGO*/
.mainHeader > .wrapper > h1{
	width:240px;
	padding:20px 0;
	margin:0 auto;
}
.mainHeader > .wrapper > h1 > a{
	display:block;
	width:240px;
	height:74px;
}
/*searchBar*/
.searchBar{
	width:260px;
	height:36px;
	position:absolute;
	top:39px;
	right:0;
	border:1px solid #cacaca;
	border-radius:5px;
	overflow:hidden;
}
/*input감싸고있는애*/
.searchBar > div{
	position:relative;
}
.searchBar > div > input{
	width:223px;
	height:36px;
	border:0px;
	padding:0px 15px;
}
/*searchBar_icon*/
.searchBar > div > div {
	width:18px;
	height:18px;
	position:absolute;
	top:0px;
	right:18px;

}
.searchBar> div button{
	border:0px;
	font-size:18px;
	width:36px;
	height:36px;
	padding-bottom:1px;
	background:#fff;
}
/*GNB*/
#header > .nav2{
	width:100%;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	background:#fff;
}
/*GNB*/
#header > .nav2 .wrapper{
	position:relative;
	z-index:9999;
	
}
/*1depth*/
.nav2 > .wrapper > ul{
	float:left;
}
.nav2 > .wrapper > ul > li{
	float:left;
	position:relative;
}
.nav2 > .wrapper > ul > li > a{
	display:block;
	margin:0 5px;
	height:47px;
	line-height:48px;
	font-size:13px;
	text-align:center;
	width:113px;
	border-bottom:1px solid #fff;
}
/*카테고리*/
/*nth-child(1) 전체*/
/*all*/
/*제목*/
/*1depth*/
.nav2 > .wrapper > .all > li > a{
	font-size:20px;
	width:45px;
	margin-left:0;
	margin-right:13px;
	padding-top:13px;
	height:34px;
	line-height:0;
}
/*2depth*/
.all > li > ul{
	width:1140px;
	height:420px;
	background:#fff;
	padding:15px;
	position:absolute;
	top:48px;
	left:0;
	font-size:13px;
	display:none;
	border:1px solid #eee;
	border-top:0;
}

.all > li > ul > li{
	width:220px;
	height:210px;
	background:#fff;
	float:left;
	margin-right:10px;
	border:0px;
}
.all> li > ul > li:nth-child(5){
	margin:0;
}
.all > li > ul > li > a{
	width:220px;
	height:28px;
	font-size:15px;
	padding:10px 0;
	text-align:left;
	line-height:30px;
	border-bottom:1px solid #eee;
	font-weight:bold;
	color:#666;
	display:block;
	background:#fff;
	transition:all 0.3s;
}
.all > li > ul > li > a:hover{
	color:#a10f31;
}
/*소메뉴 */
.all > li > ul > li > ul{
	padding-top:10px;
}
/*소메뉴리스트*/
.all > li > ul > li > ul > li{
	line-height:21px;
}
.all > li > ul > li > ul > li > a{
	color:#666;
}
/*hover*/
.all > li > ul > li > ul > li:hover a{
	color:#111;
	text-decoration:underline;
}
.all > li > ul > li:hover > a{
	background:#fff;
	color:#a10f31;
}
/*all:hover*/
.all > li:hover .sub{
	display:block;
}

/*공통가구카테고리*/
.nav2 > .wrapper > .gnb > li:nth-child(9) > a{
	margin-right:10px;
}
.nav2 > .wrapper > ul > li:hover > a{
	color:#a01f31;
	font-weight:bold;
}

/*2depth*/
.gnb .sub{
	position:absolute;
	top:48px;
	left:0;
	font-size:13px;
	display:none;
	border:1px solid #eee;
	border-top:0;
}

.gnb .sub > li > a{
	display:block;
	width:120px;
	height:40px;
	background:#fff;
	line-height:40px;
	text-align:center;
	color:#666;
	transition:all 0.3s;
}
/*hover*/
.sub > li:hover > a{
	font-weight:bold;
}
.gnb > li:hover .sub{
	display:block;
}
/*fixed*/
.sticky{
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
}
.sticky2{
	position:fixed;
	top:36px;
	left:0;
	z-index:9998;
}

/*
	footer
*/
#footer{
	width:100%;
	background:#222;
}
#footer > div{
	width:100%;
}
/*footerNav*/
#footer > div:nth-child(1){
	background:#cacaca;
}
#footer > div:nth-child(1) > .wrapper > ul > li{
	float:left;
}
#footer > div:nth-child(1) > .wrapper > ul > li a{
	height:50px;
	padding:0 25px;
	display:block;
	line-height:50px;
	font-size:13px;
}
#footer > div:nth-child(1) > .wrapper > ul > li:nth-child(1) a{
	padding-left:0;
}
#footer > div:nth-child(1) > .wrapper > ul > li:nth-child(3) a{
	font-weight:900;
}
/*footerCon*/
#footer > div:nth-child(2){
	background:#222;
}
#footer > div:nth-child(2) > .wrapper{
	padding-top:34px;
	height:140px;
}

#footer > div:nth-child(2) > .wrapper > div{
	height:106px;
}
#footer > div:nth-child(2) > .wrapper > div > div{
	float:left;
}
/*logo*/
/*영역*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(1){
	width:174px;
	height:106px;
}
/*로고*/
#footer > div:nth-child(2) > .wrapper  > div > div:nth-child(1) > h1{
	width:150px;
	height:45px;
}

/*txt*/
/*영역*/
#footer > div:nth-child(2) > .wrapper > div  > div:nth-child(2){
	width:720px;
	height:106px;
}
/*본문*/
#footer > div:nth-child(2) > .wrapper > div  > div:nth-child(2) > p{
	width:700px;
	height:106px;
	color:#cacaca;
	font-size:13px;
	line-height:1.6;
}
/*sns*/
/*영역*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3){
	width:276px;
	height:106px;
}

/*1*/

#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1){
	width:276px;
	height:45px;
	padding-top:8px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div {
	float:left;
}
/*input*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
	width:218px;
	height:36px;
	background:#fff;
	margin-right:4px;
	border-radius:5px;
	
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) input{
	width:218px;
	height:36px;
	background:#fff;
	border-radius:5px;
	border:0;
	text-align:left;
	padding-left:10px;
	font-family:'roboto';
	color:#555;
}
/*btn*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) a{
	width:54px;
	height:36px;
	background:#d1d1d1;
	display:block;
	border-radius:5px;
	text-align:center;
	line-height:36px;
	font-size:14px;
	font-weight:bold;
}
/*2*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2){
	width:276px;
	height:53px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div{
	float:left;
}
/*img*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
	width:130px;
	height:53px;
}
/*sns_icon영역*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2){
	width:126px;
	height:32px;
	padding:10px 0px 10px 14px;
}
/*sns_icon*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ul{
	width:126px;
	height:32px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ul > li{
	width:30px;
	height:30px;
	float:left;	
	margin-right:15px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3){
	margin-right:0;
}