@charset 'utf-8';


/*공통*/
.wrapper{
	margin:0 auto;
	width:1170px;
	position:relative;
}

/*팝업*/
.pop{
	width:516px;
	border:1px solid #555;
	background:#fff;
	position:absolute;
	z-index:100;
	color:#333;
	padding:25px 20px;
	padding-bottom:40px;
}
.pop  > span{
	width:516px;
	display:block;
}
.pop  > span > span{
	font-size:22px;
	color:#333;
	font-weight:600;
}
.pop  > span  > span:nth-child(2){
	font-size:16px;
	font-weight:300;
	color:#444;
}
/*icon*/
.pop  > span > span > i{
	width:24px;
	height:24px;
	display:inline-block;
	vertical-align:top;
	color:#333;
	font-size:26px;
}
/*close_icon*/
.pop  > span  > i > a{
	width:18px;
	height:18px;
	display:inline-block;
	padding-top:3px;
	float:right;
	opacity:0.8;
}
.pop .whiteBtn{
	display:block;
	width:30px;
	float:left;
	margin-right:4px;
	opacity:0.6;
}
.pop .whiteBtn.on{
	opacity:1;
}
/*pop_content*/
.pop .ulStyle2 > li{
	width:516px;
	border-bottom:2px solid #eee;
}
/*1줄상단*/
.pop .ulStyle2 > li:nth-child(1){
	background:#f5f5f5;
	font-weight:900;
}
.pop .ulStyle2 > li:nth-child(1) > ul > li{
	padding:10px;
}
.pop .ulStyle2 > li:nth-child(1) > ul > li:nth-child(2){
	text-align:center;
}
.pop .ulStyle2 > li > ul > li{
	float:left;
	width:76px;
	text-align:center;
	padding:21px 10px;
	border-right:2px solid #eee;

}
.pop .ulStyle2 > li > ul > li:nth-child(2){
	width:200px;
	text-align:left;
	padding:10px;
	line-height:18px;
}
.pop .ulStyle2 > li > ul > li:nth-child(4){
	border-right:0;
}
/*비여있는_*/
.empty{
	border-top:2px solid #333;
	border-bottom:2px solid #979797;
}
/*empty_content*/
.empty > li{
	border-bottom:2px solid #eee;
}
/*1줄상단*/
.empty > li:nth-child(1){
	background:#f5f5f5;
	font-weight:900;
}
.empty > li:nth-child(1) > ul > li{
	padding:10px;
	border-right:2px solid #eee;
}
.empty > li:nth-child(1) > ul > li:nth-child(2){
	text-align:center;
}
/*2*/
.empty > li:nth-child(2){
	background:#eee;
	padding:35px 0;
}
.empty > li:nth-child(2) > ul >li{
	width:496px;
}
.empty> li > ul > li{
	float:left;
	width:76px;
	text-align:center;
	padding:21px 10px;

}
.empty> li > ul > li:nth-child(2){
	width:200px;
	text-align:left;
	padding:10px;
	line-height:18px;
}
.empty > li > ul > li:nth-child(4){
	border-right:0;
}



.LoginBtn33{
	background:#333;
	display:inline-block;
	width:107px;
	height:40px;
	border-radius:5px;
	text-align:center;
	line-height:40px;
	color:#fff;
	font-weight:600;
	font-size:13px;
}

.loginBtn{
	width:76px;
	height:76px;
	display:block;
	background:#a01f30;
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	line-height:76px;
	border-radius:5px;
}
.loginBtn2{
	width:76px;
	height:76px;
	display:block;
	background:#333;
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	line-height:76px;
	border-radius:5px;
}

.LoginInput{
	height:34px;
	border-radius:5px;
	border:1px solid #c5c5c5;
	padding:0 10px;
	font-size:13px;
	color:#777;
}


/*content*/
.LoginContent{
	width:100%;
	margin-bottom:40px;
}
/*카테고리경로*/
.LoginContent > .location{
	width:100%;
}
.LoginContent > .location > .wrapper > ul{
	float:right;
	font-size:13px;
}
.LoginContent > .location > .wrapper > ul > li{
	float:left;
	margin-right:10px;
	height:40px;
	line-height:40px;
	color:#999;
}
.LoginContent > .location > .wrapper > ul > li:nth-child(2){
	margin-right:0px;
}
.LoginContent > .location > .wrapper > ul > li > a{
	padding-right:10px;
	color:#555;
} 
.LoginContent > .location > .wrapper > ul > li:nth-child(2) > a{
	font-weight:900;
} 
/*con1 title*/
.loginCon1.con{
	margin-top:30px;
	margin-bottom:55px;
 }
.loginCon1 > .wrapper{
	text-align:center;
 }
 .loginCon1 > .wrapper > h2{
	color:#333;
	font-size:28px;
	font-weight:300;
 }
.loginCon1 > .wrapper > h2 > span{
	color:#a01f30;
	font-weight:600;
 }
 .loginCon1 > .wrapper > span{
	color:#7f7f7f;
	font-size:13px;
 }
 /*con2 로그인영역*/
.loginCon2 > .wrapper > .tab{
	width:642px;
	margin:0 auto;
 }
 /*tabBtn*/
 .loginCon2 > .wrapper > .tab > .tabBtn{
	height:50px;
	width:642px;
 }
  .loginCon2 > .wrapper > .tab > .tabBtn:after{
	content:'';
	height:0;
	clear:both;
	display:block;
   }
  .loginCon2 > .wrapper > .tab > .tabBtn > li{
	float:left;
 }
.tabBtn > li > a{
	height:50px;
	width:319px;
	text-align:center;
	line-height:50px;
	display:block;
	font-weight:600;
	font-size:16px;
	color:#333;
	border:1px solid #ddd;
	transition:all 0.5s;
 }
 /*active*/
.tabBtn > li a.active{
	background:#a01f30;
	border:1px solid #a01f30;
	color:#fff;
}
 /*tabCon*/
  .loginCon2 > .wrapper > .tab > .tabCon{
	height:266px;
	position:relative;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	overflow:hidden;
	padding:30px 0;
 }
.loginCon2 > .wrapper > .tab > .tabCon > div{
	height:266px;
	width:642px;
	position:relative;

 }
.loginCon2 > .wrapper > .tab > .tabCon > div > ul{
	height:216px;
	width:420px;
	position:absolute;
	left:50%;
	margin-left:-248px;
	top:50%;
	margin-top:-110px;

 }
 /*층*/
.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li{
	height:108px;
	width:420px;
 }
  /*칸*/
.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li > ul > li{
	height:108px;
	width:75px;
	float:left;
	padding-left:5px;
 }
 /*1칸*/
 .loginCon2 > .wrapper > .tab > .tabCon > div > ul > li > ul > li:nth-child(1){
	line-height:40px;
 }
 /*2칸*/
 .loginCon2 > .wrapper > .tab > .tabCon > div > ul > li > ul > li:nth-child(2){
	height:108px;
	width:255px;
 }
  /*칸의 줄*/
 .loginCon2 > .wrapper > .tab > .tabCon > div > ul > li > ul > li > ul > li{
	height:40px;
	font-size:13px;
 }
 /*2칸의 줄*/
  .loginCon2 > .wrapper > .tab > .tabCon > div > ul > li > ul > li:nth-child(2) > ul > li{
	height:40px;
 }
  /*1층 span*/
.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li:nth-child(1) > ul span{
	font-size:12px;
	color:#666;
	line-height:12px;
	width:335px;
	display:inline-block;
 }
  /*2층*/
.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li:nth-child(2){
	height:103px;
 }
   /*2층  2칸*/
.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li:nth-child(2) > ul > li:nth-child(2) > ul > li{
	height:40px;
	width:335px;
	padding-top:9px;
 }
/*2층  2칸 2줄*/
.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li:nth-child(2) > ul > li:nth-child(2) > ul > li:nth-child(2){
	padding-bottom:9px;
	padding-top:0px;
 }

 .naverLogin{
	width:333px;
	height:38px;
	display:block;
	background:#fff;
	border:1px solid #eee;
	font-size:13px;
	font-weight:300;
	color:#999;
	text-align:center;
	line-height:38px;
}
 .naverLogin > span{
	display:inline-block;
	width:26px;
	height:26px;
	vertical-align:middle;

 }
  /*2칸*/
 .loginCon2 > .wrapper > .tab > .tabCon > div > ul > li:nth-child(2) > ul > li:nth-child(1){
	height:103px;
 }

.loginCon2 > .wrapper > .tab > .tabCon > div > ul > li:nth-child(2) > ul > li:nth-child(2){
	height:103px;
	width:335px;
 }

  /*con3 회원혜택txt*/
.loginCon3.con{
	margin-bottom:65px;
  }
.loginCon3 > .wrapper > ul{
	border-top:1px solid #d1d1d1;
	padding:24px;
 }
 .loginCon3 > .wrapper > ul > li{
	height:70px;
	float:left;
	padding:15px 61px;
 }
  .loginCon3 > .wrapper > ul > li:nth-child(3){
	border-right:0;
 }
.loginCon3> .wrapper > ul > li > h6{
	width:252px;
	height:20px;
	font-size:13px;
	color:#333;
	line-height:20px;
	font-weight:900;
	position:relative;
 }
 .loginCon3> .wrapper > ul > li > h6 > strong{
	width:40px;
	height:40px;
	font-size:25px;
	color:#a01f30;
	line-height:25px;
	font-weight:900;
	position:absolute;
	top:-6px;
	left:-26px;
 }
 .loginCon3> .wrapper > ul > li > p{
	width:252px;
	height:68px;
	font-size:12px;
	color:#555;
	line-height:1.5;
 }
