@charset 'utf-8';
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*shadow*/
.mypage .shadow{
	background:rgba(0,0,0,0.35);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:462px;
	display:block;
}
/*팝업*/
.mypage .pop{
	width:516px;
	border:1px solid #555;
	background:#fff;
	position:absolute;
	z-index:100;
	color:#333;
	padding:25px 20px;
	padding-bottom:40px;
}
.mypage .pop  > span{
	width:516px;
	display:block;
}
.mypage .pop  > span > span{
	font-size:22px;
	color:#333;
	font-weight:600;
}
.mypage .pop  > span  > span:nth-child(2){
	font-size:16px;
	font-weight:300;
	color:#444;
}
/*icon*/
.mypage .pop  > span > span > i{
	width:24px;
	height:24px;
	display:inline-block;
	vertical-align:top;
	color:#333;
	font-size:26px;
}
/*close_icon*/
.mypage .pop  > span  > i > a{
	width:18px;
	height:18px;
	display:inline-block;
	padding-top:3px;
	float:right;
	opacity:0.8;
}
.mypage .pop .whiteBtn{
	display:block;
	width:30px;
	float:left;
	margin-right:4px;
	opacity:0.6;
}
.mypage .pop .whiteBtn.on,.pop .whiteBtn:hover{
	opacity:1;
	font-weight:bold;
}


/*pop_content*/
.mypage .pop .ulStyle2 > li{
	width:516px;
	border-bottom:2px solid #eee;
}
/*1줄상단*/
.mypage .pop .ulStyle2 > li:nth-child(1){
	background:#f5f5f5;
	font-weight:900;
}
.mypage .pop .ulStyle2 > li:nth-child(1) > ul > li{
	padding:10px;
}
.mypage .pop .ulStyle2 > li:nth-child(1) > ul > li:nth-child(2){
	text-align:center;
}
.mypage .pop .ulStyle2 > li > ul > li{
	float:left;
	width:76px;
	text-align:center;
	padding:21px 10px;
	border-right:2px solid #eee;

}
.mypage .pop .ulStyle2 > li > ul > li:nth-child(2){
	width:200px;
	text-align:left;
	padding:10px;
	line-height:18px;
}
.mypage .pop .ulStyle2 > li > ul > li:nth-child(4){
	border-right:0;
}
/*비여있는_*/
.mypage .empty{
	border-top:2px solid #333;
	border-bottom:2px solid #979797;
}
/*empty_content*/
.mypage .empty > li{
	border-bottom:2px solid #eee;
}
/*1줄상단*/
.mypage .empty > li:nth-child(1){
	background:#f5f5f5;
	font-weight:900;
}
.mypage .empty > li:nth-child(1) > ul > li{
	padding:10px;
	border-right:2px solid #eee;
}
.mypage .empty > li:nth-child(1) > ul > li:nth-child(2){
	text-align:center;
}
/*2*/
.mypage .empty > li:nth-child(2){
	background:#eee;
	padding:35px 0;
}
.mypage .empty > li:nth-child(2) > ul >li{
	width:496px;
}
.mypage .empty> li > ul > li{
	float:left;
	width:76px;
	text-align:center;
	padding:21px 10px;

}
.mypage .empty> li > ul > li:nth-child(2){
	width:200px;
	text-align:left;
	padding:10px;
	line-height:18px;
}
.mypage .empty > li > ul > li:nth-child(4){
	border-right:0;
}
/*font-weight:bold*/
.mypage .on{
	font-weight:900;
}
/*gray_button*/
.mypage .grayBtn{
	width:92px;
	height:25px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:5px;
	line-height:25px;
	text-align:center;
	float:left;
	display:block;
	font-size:12px;
}
.mypage .grayBtnM{
	width:188px;
	height:36px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:5px;
	line-height:36px;
	text-align:center;
	float:left;
	display:block;
	font-size:15px;
	font-weight:300;
	cursor:pointer;
}
.mypage .payBtn{
	padding:0 50px;
	height:55px;
	background:#a01f30;
	border-radius:5px;
	line-height:55px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#fff;
	font-weight:600;
}
.mypage .payBtnBig{
	padding:0 20px;
	height:65px;
	width:150px;
	background:#a01f30;
	border-radius:5px;
	line-height:65px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#fff;
	font-weight:600;
	cursor:pointer;
}
.mypage .serveBtn{
	padding:0 50px;
	height:53px;
	background:#eee;
	border-radius:5px;
	line-height:55px;
	text-align:center;
	float:left;
	display:block;
	font-size:18px;
	color:#333;
	font-weight:600;
	border:1px solid #d1d1d1;
}
.mypage .whiteBtn{
	height:25px;
	background:#fff;
	border:1px solid #c5c5c5;
	border-radius:5px;
	line-height:25px;
	text-align:center;
	display:inline-block;
	font-size:12px;
	padding:0 15px;
	color:#222;
}
.mypage .whiteBtnS{
	height:20px;
	background:#fff;
	border:1px solid #c5c5c5;
	border-radius:5px;
	line-height:20px;
	text-align:center;
	display:inline-block;
	font-size:12px;
	padding:0 10px;
}
 
/*content*/
.mypage{
	width:100%;
	margin-bottom:60px;
}
/*카테고리경로*/
.mypage > .location{
	width:100%;
}
.mypage > .location > .wrapper > ul{
	float:right;
	font-size:13px;
}
.mypage > .location > .wrapper > ul > li{
	float:left;
	margin-right:10px;
	height:40px;
	line-height:40px;
	color:#999;
}
.shopcart> .location > .wrapper > ul > li:nth-child(2){
	margin-right:0px;
}
.mypage > .location > .wrapper > ul > li > a{
	padding-right:10px;
	color:#555;
} 
.mypage > .location > .wrapper > ul > li:nth-child(2) > a{
	font-weight:900;
} 
/*상단*/
.mypage .top{
	width:100%;
}
/*txt*/
.mypage .top > .wrapper > p{
	color:#222;
	font-size:15px;
}
/*con*/
.mypage .top > .wrapper > ul{
	width:1170px;
	height:124px;
	font-size:15px;
}
.mypage .top > .wrapper > ul > li{
	float:left;
}
/*1칸*/
.mypage .top > .wrapper > ul > li:nth-child(1){
	width:280px;
	height:94px;
	background:#9a1e2e;
	padding:15px 20px;
	font-size:13px;
}
.mypage .top > .wrapper > ul > li:nth-child(1) > ul > li{
	width:280px;
	color:#fff;
}

.mypage .top > .wrapper > ul > li:nth-child(1) > ul > li > div{
	position:relative;
	display:inline-block;
}
/*조회버튼*/
.mypage .top > .wrapper > ul > li:nth-child(1) .whiteBtnS{
	color:#222;
	cursor:pointer;
}
/*조회팝업*/
.mypage .top .pop{
	top:0;
	left:65px;
}
/*적립금팝업*/
.mileage .pop{
	display:none;
}
/*쿠폰팝업*/
.coupon .pop{
	display:none;
}
.mypage .top > .wrapper > ul > li:nth-child(1) > ul > li > strong:nth-child(1){
	display:inline-block;	
	width:120px;
}
.mypage .top > .wrapper > ul > li:nth-child(1) > ul > li > strong:nth-child(1) > i{
	width:15px;
	height:15px;
	display:inline-block;	
	vertical-align:middle;
	margin-right:8px;
	font-size:15px;
	color:#fff;
}
.mypage .top > .wrapper > ul > li:nth-child(1) > ul > li > strong:nth-child(2){
	display:inline-block;	
	width:103px;
	text-align:right;
	vertical-align:middle;
	height:16px;
	margin-right:5px;
}
.mypage .top > .wrapper > ul > li:nth-child(1) > ul > li > strong:nth-child(2) > a{
	color:#fff;
}
/*2칸*/
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li{
	width:91px;
	height:94px;
	background:#fff;
	float:left;
	margin-left:1px;
	text-align:center;
	padding:15px;
	color:#333;
}
/*icon*/
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li > p:nth-child(1){
	width:37px;
	height:37px;
	margin:0 auto;
	margin-bottom:8px;
	font-size:38px;
}
/*txt*/
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li > p:nth-child(2){
	font-weight:900;
	font-size:13px;
}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li > p:nth-child(2) > span{
	font-weight:300;
	font-size:11px;
	color:#777;
}
/*숫자*/
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li > p:nth-child(3){
	height:42px;
	line-height:42px;
	font-size:32px;
	color:#a01f30;
	font-weight:300;
}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li > p:nth-child(3) > a{
	color:#a01f30;
}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li > p:nth-child(3) > a > span{
	font-size:12px;
}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(4){
	margin-left:0px;

}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(5){
	margin-left:0px;
}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(6){
	margin-left:0px;
}
.mypage .top > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(7){
	margin-left:0px;
}
/*con1 최근 주문내역*/
.mypage #con1 > .wrapper > ul > li{
	width:1170px;
	color:#333;
	border-bottom:2px solid #eee;
	font-size:14px;
}
/*줄*/
.mypage #con1 > .wrapper > ul > li:nth-child(1){
	height:48px;
	font-weight:900;
	background:#f5f4f4;
	line-height:31px;
	font-size:14px;
}
.mypage #con1 > .wrapper > ul > li:nth-child(4){
	border-bottom:0;
}
/*칸*/
.mypage #con1 > .wrapper > ul > li > ul > li{
	float:left;
	width:120px;
	padding:20px 30px;
	border-right:2px solid #eee;
	text-align:center;
	position:relative;
}
.mypage #con1 > .wrapper > ul > li:nth-child(1) > ul > li{
	padding:10px 30px;
}
/*1줄 1칸*/
.mypage #con1 > .wrapper > ul > li:nth-child(1) > ul > li:nth-child(2){
	text-align:center;
}
/*2칸*/
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(2){
	width:520px;
	text-align:left;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(2) > span{
	display:inline-block;
}
/*img*/
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(2) > span:nth-child(1){
	width:65px;
	height:65px;
	margin-right:15px;
}
/*txt*/
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(2) > span:nth-child(2){
	width:360px;
	height:14px;
	vertical-align:top;
	padding:27px 0;
	font-size:13px;
	opacity:0.9;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(2) > span:nth-child(2) > strong{
	font-size:14px;
	font-weight:900;
	line-height:14px;
}
/*3칸*/
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(3){
	font-weight:900;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(3) > strong{
	padding-top:20px;
	display:inline-block;
	font-weight:900;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(3) > p{
	height:27px;
	color:rgba(153,153,153,0.8);
	font-size:13px;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(3) > p > a{
	color:rgba(153,153,153,0.8);
}
/*4칸*/
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(4){
	width:164px;
	border-right:0;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(4) > strong{
	font-weight:900;
	padding-top:10px;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(4) > p > a{
	font-size:13px;
	color:#777;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(4) > p > a > strong{
	color:#333;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(4) > p > a:hover strong{
	color:#a01f31;
}
/*4줄 4칸*/
.mypage #con1 > .wrapper > ul > li:nth-child(4) > ul > li:nth-child(4){
	padding:14px 30px;
}
.mypage #con1 > .wrapper > ul > li:nth-child(4) > ul > li:nth-child(4) > strong{
	padding-top:0px;
}
.mypage #con1 > .wrapper > ul > li:nth-child(4) > ul > li:nth-child(4) > div{
	margin:0 auto;
	margin-top:3px;
	width:102px;
	position:relative;
}
.mypage #con1 > .wrapper > ul > li:nth-child(4) > ul > li:nth-child(4) > a{
	margin:3px auto;
}
.mypage #con1 > .wrapper > ul > li > ul > li:nth-child(4) > p{
	font-size:11px;
}
/*교환/반품 팝업*/
.change > span{
	cursor:pointer;
}
.change .pop{
	top:-510px;
	right:120px;
	display:none;/**/
}

.change .pop > span{
	text-align:left;
}
/*icon*/
.change .pop  > span > span > i{
	width:25px;
	height:25px;
}
/*tab*/
/*tabBtn*/
.mypage .tabBtn{
	width:516px;
	height:48px;
}
.mypage .tabBtn > li{
	float:left;
	background:#fff;
	
}
.mypage .tabBtn > li > a{
	width:256px;
	height:46px;
	text-align:center;
	line-height:48px;
	display:block;
	font-weight:600;
	border:1px solid #eee;
	font-size:16px;
	color:#333;
	transition:all 0.5s;
}
/*active*/
.mypage .tabBtn > li a.active{
	background:#a01f30;
	border:1px solid #a01f30;
	color:#fff;
}

/*tabCon*/
.mypage .tabCon{
	width:516px;
}
/*영역*/
.mypage .tabCon > li{
	float:left;
	background:#fff;
}
/*txt*/
.mypage .tabCon > span{
	font-size:12px;
	line-height:18px;
}
/*줄*/
.mypage .tabCon > li > ul > li{
	width:516px;
	border-bottom:2px solid #eee;
}
.mypage .tabCon > li > ul > li:nth-child(4){
	width:516px;
	border-bottom:2px solid #979797;
}
/*칸*/
.mypage .tabCon > li > ul > li > ul > li{
	float:left;
}
/*tabCon1 1줄1칸-제목*/
.mypage #tabCon1 > ul > li:nth-child(1) > ul > li:nth-child(1){
	padding:15px 14px;
}
/*4줄1칸-제목*/
.mypage #tabCon1 > ul > li:nth-child(4) > ul > li:nth-child(1){
	padding:66px 14px;
}

/*#tabCon2 3줄1칸-제목*/
.mypage #tabCon2 > ul > li:nth-child(3) > ul > li:nth-child(1){
	padding:66px 14px;
}
/*1칸-제목*/
.mypage .tabCon > li > ul > li > ul > li:nth-child(1){
	width:74px;
	background:#f5f5f5;
	font-weight:900;
	text-align:center;
	border-right:2px solid #eee;
	padding:45px 14px;
}
/*2칸-내용*/
.mypage .tabCon > li > ul > li > ul > li:nth-child(2){
	width:380px;
	padding-left:16px;
	padding:15px 14px;
}

/*상품평쓰기*/
.mypage #con1 > .wrapper > ul > li:nth-child(5){
	border-bottom:0;
}
.review{
	background:#fff; 
	border-top:2px solid #eee; 
	border-bottom:0;
	display:none;/**/
}
.review > ul > li:nth-child(2) > label{
	cursor:pointer;
}
.review .filebox-hidden{
	position:absolute;
	width:1px;
	height:1px; 
	overflow:hidden;
	clip:rect(0,0,0,0);
	padding:0;
	margin:-1px;
	border:0;
}
.mypage #con1 > .wrapper > ul > li:nth-child(5) > ul > li:nth-child(1){
	padding:41px 25px;
}
.mypage #con1 > .wrapper > ul > li:nth-child(5) > ul > li:nth-child(2){
	width:760px;
	padding-left:10px;
	padding-right:10px;
}
.mypage #con1 > .wrapper > ul > li:nth-child(5) > ul > li:nth-child(3){
	padding-left:10px;
	padding-right:0px;
	width:190px;
}
/*별점*/
.review .star > li{
	float:left;
	margin-right:4px;
	font-size:16px;
	width:14px;
	height:14px;
	color:#f1bc1a;
	cursor:pointer;
}
.review .star > li:nth-child(6){
	color:#777;
	cursor:default;
}
.mypage #con1 > .wrapper > ul > li:nth-child(5) > ul > li{
	border-right:0;
}
/*con2 장바구니*/
/*con2_content*/
.mypage #con2 > .wrapper > ul > li{
	font-size:14px;
	border-bottom:0px;
}
/*줄의 칸*/
.mypage #con2 > .wrapper > ul > li > ul > li{
	float:left;
	height:40px;
	line-height:40px;
	width:148px;
	text-align:center;
	border-right:2px solid #eee;
}
/*줄의 1칸*/
.mypage #con2 > .wrapper > ul > li > ul > li:nth-child(1){
	width:870px;
}
/*줄의 3칸*/
.mypage #con2 > .wrapper > ul > li > ul > li:nth-child(3){
	border-right:0;
}
/*1줄*/
.mypage #con2 > .wrapper > ul > li:nth-child(1){
	width:1170px;
	height:40px;
	border-bottom:2px solid #979797;
	font-weight:900;
}

/*2줄*/
.mypage #con2 > .wrapper > ul > li:nth-child(2){
	width:1170px;
	height:152px;
}
/*2줄의 칸*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li{
	height:152px;
	line-height:152px;
}
/*2줄의 칸의 줄*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li > ul > li{
	padding-left:20px;
	width:850px;
	text-align:left;
}
/*2줄의 1칸_1줄*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1){
	height:84px;
	line-height:65px;
	border-bottom:2px solid #eee;
	padding-top:18px;
}
/*img*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1) > span{
	height:65px;
	width:65px;
	background:#eee;
	display:inline-block;
	margin-right:10px;
}
/*2줄의 1칸_2줄*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2){
	height:48px;
	line-height:48px;
	font-size:13px;
}
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span{
	display:inline-block;
	width:119px;
	text-align:center;
}
/*1번*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(1){
	width:460px;
	text-align:left;
}
/*4번*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4){
	text-align:right;
	font-weight:900;
}
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4) > strong{
	font-weight:900;
}
/*2줄의 2칸*/
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(2) > span{
	font-weight:900;
}
.mypage #con2 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(2) > span > strong{
	font-weight:900;
}

/*con3 기타*/
.mypage #con3 > .wrapper > ul{
	border:1px solid #eee;
}
/*칸*/
.mypage #con3 > .wrapper > ul > li{
	width:584px;
	float:left;
}
/*칸의 줄*/
.mypage #con3 > .wrapper > ul > li > ul > li{
	height:106px;
	float:left;
	border-bottom:1px solid #eee;
}
/*줄의 칸*/
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li{
	float:left;
}
/*줄의 1칸_버튼*/
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1){
	background:#f5f5f5;
	border-right:1px solid #eee;
	opacity:0.85;
}
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1):hover{
	opacity:1;
}
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1) > a{
	display:block;
	height:76px;
	width:230px;
	padding:15px 25px;
}
/*icon*/
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1) > a  > span{
	background:#fff;
	height:55px;
	width:70px;
	display:block;
	border-radius:8px;
	border:1px solid #eee;
	text-align:center;
	padding-top:15px;
	color:#7f7f7f;
	float:left;
}
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1) > a > span > i{
	display:inline-block;
	width:40px;
	height:40px;
	font-size:40px;
}
/*txt*/
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1) > a > strong{
	font-size:22px;
	color:#444;
	float:left;
	font-weight:900;
	padding-top:10px;
}
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(1) > a > strong > span{
	font-size:20px;
	color:#7f7f7f;
	font-weight:600;
}

/*줄의 2칸_설명*/
.mypage #con3 > .wrapper > ul > li > ul > li > ul > li:nth-child(2){
	background:#fff;
	height:38px;
	width:227px;
	padding:34px 38px;
	font-size:13px;
	line-height:19px;
}
/*con4_customer*/
.mypage #con4.con{
	margin-top:35px;
}
.mypage #con4 > .wrapper{
	padding-top:30px;
}
/*con영역감싼애*/
.mypage #con4 > .wrapper > div{
	width:1170px;
	border-top:2px solid #333;
	padding-top:40px;
}
/*통영역_div*/
.mypage #con4 > .wrapper > div > div{
	float:left;
	border-right:1px solid #d2d2d2;
	width:291px;
}
.mypage #con4 > .wrapper > div > div:nth-child(n+2){
	width:292px;
}
.mypage #con4 > .wrapper > div > div:nth-child(4){
	border-right:0;
}
/*공통title*/
.mypage #con4 > .wrapper > div > div > div:nth-child(1){
	width:240px;
	height:65px;
}
.mypage #con4 > .wrapper > div > div > div:nth-child(1) strong{
	display:block;
	width:240px;
	height:28px;
	font-size:20px;
}
.mypage #con4 > .wrapper > div > div > div:nth-child(1) span{
	display:block;
	width:240px;
	font-size:12px;
	color:#b2b2b2;
}
/*공통con*/
.mypage #con4 > .wrapper > div > div > div{
	width:240px;
	height:130px;
	margin:0 auto;
	color:#222;
}
/*1고객센터*/
/*con*/

.mypage #con4 > .wrapper > div > div:nth-child(1) > div:nth-child(2) > div{
	height:65px;
	color:#333;
}
/*1*/
.mypage #con4 > .wrapper > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
	font-size:37px;
	font-weight:600;
}
/*2*/
.mypage #con4 > .wrapper > div > div:nth-child(1) > div:nth-child(2) > div:nth-child(2){
	font-size:12px;
	color:#8b8b8b;
	line-height:1.6;
}
.mypage #con4 > .wrapper > div > div:nth-child(1) > div:nth-child(2) > div span{
	display:block;
}

/*2은행계좌안내*/
/*con*/
/*1*/
.mypage #con4 > .wrapper > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
	height:80px;
	margin-bottom:15px;
}
.mypage #con4 > .wrapper > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1){
	height:35px;
	margin-bottom:5px;
}
/*1 - */
.mypage #con4 > .wrapper > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div{
	font-size:12px;
	color:#8b8b8b;
}
.mypage #con4 > .wrapper > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div strong{
	margin-right:28px;
}
/*1-2-1*/
.mypage #con4 > .wrapper > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div{
	width:184px;
	border-radius:50px;
	background:#7f7f7f;
	height:30px;
	color:#fff;
	text-align:center;
	font-size:12px;
	line-height:31px;
}
/*2*/
.mypage #con4 > .wrapper > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
	height:35px;
	font-size:12px;
	color:#8b8b8b;
	line-height:1.4;
}
/*3주문/배송*/
/*공통감싼애*/
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
	height:69px;
}
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div{
	float:left;
	font-size:12px;
}
/*공통icon*/
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(1){
	width:60px;
	height:60px;
	color:#7f7f7f;
	font-size:48px;
	line-height:56px;
	text-align:center;
	margin-right:15px;
}
/*공통txt*/
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(2){
	width:160px;
	height:65px;
}
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(2) > strong:nth-child(1){
	display:block;
	height:21px;
}
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(2) > span:nth-child(2){
	display:block;
	width:20px;
	height:2px;
	background:#333;
}
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(2) >  strong:nth-child(3){
	color:#7f7f7f;
	letter-spacing:-0.3px;
	display:block;
	padding-top:5px;
}
.mypage #con4 > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(2) >  span{
	color:#7f7f7f;
}
/*4인스타그램*/
/*con*/
.mypage #con4 > .wrapper > div > div:nth-child(4)> div:nth-child(2) > ul{
	width:240px;
	height:130px;
}
.mypage #con4 > .wrapper > div > div:nth-child(4)> div:nth-child(2) > ul > li{
	width:60px;
	height:64px;
	float:left;
	overflow:hidden;
	position:relative;
}