@charset 'utf-8';
/*title*/
.cartTitle{
	height:30px;
	width:1170px;
	line-height:30px;
	padding:10px 0;
	color:#333;
	font-size:12px;
}
.cartTitle > strong{
	font-size:22px;
	margin-right:15px;
	color:#222;
}
.cartTitle > span{
	vertical-align:top;
}


/*content*/
#content{
	width:100%;
	margin-bottom:130px;
}
/*카테고리경로*/
#content > .location{
	width:100%;
}
#content > .location > .wrapper > ul{
	float:right;
	font-size:13px;
}
#content > .location > .wrapper > ul > li{
	float:left;
	margin-right:10px;
	height:40px;
	line-height:40px;
	color:#999;
}
#content > .location > .wrapper > ul > li:nth-child(2){
	margin-right:0px;
}
#content > .location > .wrapper > ul > li > a{
	padding-right:10px;
	color:#555;
} 
#content > .location > .wrapper > ul > li:nth-child(2) > a{
	font-weight:900;
} 
/*상단*/
#content > div:nth-child(2){
	width:100%;
	margin-top:20px;
}
#content > div:nth-child(2) > .wrapper > ul{
	width:1170px;
	height:75px;
	background-image:url('../img/shoppingcart/shopping_title.png');
}
#content > div:nth-child(2) > .wrapper > ul > li{
	width:200px;
	height:67px;
	float:left;
	padding-left:40px;
	text-align:center;
	padding-top:8px;
	font-size:15px;
	color:#7f7f7f;
	font-weight:600;
}
/*1*/

#content > div:nth-child(2) > .wrapper > ul > li:nth-child(1){
	width:422px;
	text-align:left;
	font-size:26px;
	color:#fff;
	font-weight:600;
	padding-top:22px;
	height:75px;
	padding-left:28px;
}
#content > div:nth-child(2) > .wrapper > ul > li:nth-child(1) > i{
	display:inline-block;
	width:32px;
	height:32px;
	padding-top:0px;
	margin-right:10px;
}
#content > div:nth-child(2) > .wrapper > ul > li:nth-child(1) > span{
	display:inline-block;
	vertical-align:top;
}
/*2 3 4*/
#content > div:nth-child(2) > .wrapper > ul > li > strong{
	display:block;
	font-size:32px;
	font-weight:900;
}
/*3*/
#content > div:nth-child(2) > .wrapper > ul > li:nth-child(2){
	color:#a01f30;
}
/*con1 주문상품*/
#con1{
	margin-top:0px;
}
#con1 .cartTitle{
	padding-bottom:4px;
}
#con1 .cartTitle > span{
	float:right;
	color:#7f7f7f;
}
/*con1 주문상품_content*/
#con1 > .wrapper > ul > li{
	font-size:14px;
	border-bottom:0px;
}
/*줄의 칸*/
#con1 > .wrapper > ul > li > ul > li{
	float:left;
	height:40px;
	line-height:40px;
	width:148px;
	text-align:center;
	border-right:2px solid #eee;
}
/*줄의 1칸*/
#con1 > .wrapper > ul > li > ul > li:nth-child(1){
	width:870px;
	text-align:left;
}
/*줄의 3칸*/
#con1 > .wrapper > ul > li > ul > li:nth-child(3){
	border-right:0;
}
/*1줄*/
#con1 > .wrapper > ul > li:nth-child(1){
	width:1170px;
	height:40px;
	border-bottom:2px solid #979797;
	font-weight:900;
}
/*1줄의 1칸*/
#con1 > .wrapper > ul > li:nth-child(1) > ul > li:nth-child(1){
	padding-left:20px;
	width:850px;
}
#con1 > .wrapper > ul > li:nth-child(1) > ul > li:nth-child(1) > input{
	background:#444;
	text-align:left;
}
#con1 > .wrapper > ul > li:nth-child(1) > ul > li:nth-child(1) > span{
	text-align:center;
	width:815px;
	display:inline-block;
}
/*2줄*/
#con1 > .wrapper > ul > li:nth-child(2){
	width:1170px;
	height:152px;
}
/*2줄의 칸*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li{
	height:152px;
	line-height:152px;
}
/*2줄의 칸의 줄*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li > ul > li{
	padding-left:20px;
	width:850px;
	text-align:left;
	position:relative;
}
/*2줄의 1칸_1줄*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1){
	height:102px;
	line-height:102px;
	border-bottom:2px solid #eee;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1) > span{
	height:65px;
	width:65px;
	background:#eee;
	display:inline-block;
	line-height:65px;
	margin-right:10px;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1) .cancelBtn{
	top:46px;
}
/*2줄의 1칸_2줄*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2){
	height:48px;
	line-height:48px;
	font-size:13px;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span{
	display:inline-block;
	width:119px;
	text-align:center;
	vertical-align:top;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-of-type(3){
	padding:13px 0;
	padding-left:35px;
	width:80px;
}

#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) .cancelBtn{
	top:18px;
}
/*1번*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(2){
	width:350px;
	text-align:left;
}
/*3번*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4) > ul{
	width:78px;
	height:20px;
	border:1px solid #c5c5c5;	
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4) > ul > li{
	float:left;
	border-right:1px solid #c5c5c5;
	height:20px;
	line-height:20px;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4) > ul > li:nth-child(2){
	width:34px;
	height:20px;
	text-align:center;
	color:#222;
	font-size:14px;
	font-weight:600;
	cursor:default;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4) > ul > li:nth-child(3){
	border:0;
}
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(4) > ul > li{
	width:20px;
	height:20px;
	display:block;
	text-align:center;
	font-size:13px;
	color:#7f7f7f;
	cursor:pointer;
}
/*4번*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2) > span:nth-child(5){
	text-align:right;
	font-weight:bold;
}
/*2줄의 2칸*/
#con1 > .wrapper > ul > li:nth-child(2) > ul > li:nth-child(2) > span{
	font-weight:bold;
}
#con1 > .wrapper > div:nth-of-type(2){
	padding:12px 14px;
}
/*빈장바구니*/
.empty{
	width:100%; 
	height:112px; 
	background:#f9f9f9; 
	display:block; 
	text-align:center; 
	padding-top:40px; 
	font-size:12px;
	color:#333;
	display:none;/**/
}
.empty > strong{
	width:44px; 
	height:44px; 
	display:block; 
	opacity:0.3; 
	margin:3px auto;
}
/*con2결제정보*/
#con2 > .wrapper > ul > li{
	width:1170px;
	font-weight:900;
	color:#333;
}
#con2 > .wrapper > ul > li:nth-child(1){
	height:48px;
	border-bottom:2px solid #eee;
	font-weight:600;
	background:#f5f4f4;
	line-height:31px;
	font-weight:900;
}
#con2 > .wrapper > ul > li > ul > li{
	float:left;
	width:305px;
	padding:35px 30px;
	padding-left:25px;
	border-right:2px solid #eee;
	text-align:right;
	font-size:20px;
	position:relative;
}
#con2 > .wrapper > ul > li > ul > li > span{
	font-size:28px;
}
#con2 > .wrapper > ul > li > ul > li > span:nth-child(2){
	font-size:23px;
	width:30px;
	height:30px;
	display:block;
	border:2px solid #eee;
	text-align:center;
	border-radius:5px;
	line-height:30px;
	color:#7f7f7f;
	position:absolute;
	top:34px;
	right:-17px;
	background:#fff;
}
#con2 > .wrapper > ul > li:nth-child(1) > ul > li{
	padding:10px 30px;
	padding-left:25px;
	text-align:left;
	font-size:16px;
}
#con2 > .wrapper > ul > li > ul > li:nth-child(3){
	width:386px;
	border:0;
}
/*btn*/
#con2 > .wrapper > div{
	margin:40px auto;
	width:426px;
}
/*con3*/
#con3.con{
	margin-top:80px;
}
#con3 > .wrapper > div{
	border:1px solid #d9d9d9;
	padding:20px;
}
#con3 > .wrapper > div{
	font-size:12px;
	line-height:18px;
	color:#333;
}
#con3 > .wrapper > div > h4{
	font-size:14px;
	color:#222;
}

/*footer*/
#footer{
	width:100%;
	background:#222;
}
#footer > div{
	width:100%;
}
/*footerNav*/
#footer > div:nth-child(1){
	background:#cacaca;
}
#footer > div:nth-child(1) > .wrapper > ul > li{
	float:left;
}
#footer > div:nth-child(1) > .wrapper > ul > li a{
	height:50px;
	padding:0 25px;
	display:block;
	line-height:50px;
	font-size:13px;
}
#footer > div:nth-child(1) > .wrapper > ul > li:nth-child(1) a{
	padding-left:0;
}
#footer > div:nth-child(1) > .wrapper > ul > li:nth-child(3) a{
	font-weight:900;
}
/*footerCon*/
#footer > div:nth-child(2){
	background:#222;
}
#footer > div:nth-child(2) > .wrapper{
	padding-top:34px;
	height:140px;
}

#footer > div:nth-child(2) > .wrapper > div{
	height:106px;
}
#footer > div:nth-child(2) > .wrapper > div > div{
	float:left;
}
/*logo*/
/*영역*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(1){
	width:174px;
	height:106px;
}
/*로고*/
#footer > div:nth-child(2) > .wrapper  > div > div:nth-child(1) > h1{
	width:150px;
	height:45px;
}

/*txt*/
/*영역*/
#footer > div:nth-child(2) > .wrapper > div  > div:nth-child(2){
	width:720px;
	height:106px;
}
/*본문*/
#footer > div:nth-child(2) > .wrapper > div  > div:nth-child(2) > p{
	width:700px;
	height:106px;
	color:#cacaca;
	font-size:13px;
	line-height:1.6;
}
/*sns*/
/*영역*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3){
	width:276px;
	height:106px;
}

/*1*/

#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1){
	width:276px;
	height:45px;
	padding-top:8px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div {
	float:left;
}
/*input*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
	width:218px;
	height:36px;
	background:#fff;
	margin-right:4px;
	border-radius:5px;
	
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) input{
	width:218px;
	height:36px;
	background:#fff;
	border-radius:5px;
	border:0;
	text-align:left;
	padding-left:10px;
	font-family:'roboto';
	color:#555;
}
/*btn*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) a{
	width:54px;
	height:36px;
	background:#d1d1d1;
	display:block;
	border-radius:5px;
	text-align:center;
	line-height:36px;
	font-size:14px;
	font-weight:bold;
}
/*2*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2){
	width:276px;
	height:53px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div{
	float:left;
}
/*img*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
	width:130px;
	height:53px;
}
/*sns_icon영역*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2){
	width:126px;
	height:32px;
	padding:10px 0px 10px 14px;
}
/*sns_icon*/
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ul{
	width:126px;
	height:32px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ul > li{
	width:30px;
	height:30px;
	float:left;	
	margin-right:15px;
}
#footer > div:nth-child(2) > .wrapper > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3){
	margin-right:0;
}