/*mainContent*/
.mainContent > section{
	margin-bottom:8px;
}
.main > .wrapper > ul > li > a{
	color:#fff;
	display:block;
}
/*mainContent*/
/*section3 menuButton*/
.mainContent section:nth-child(3) ul{
	width:100%;
}
.mainContent section:nth-child(3) ul > li {
	float:left;
	width:25%;
}
.mainContent section:nth-child(3) ul > li > a{
	background:#fff;
	display:block;
	width:100%;
	padding:10px 0;
	text-align:center;
	font-size:11px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	box-sizing:border-box;
}
.mainContent section:nth-child(3) ul > li:nth-child(4n) > a{
	border-right:0;
}
/*iconImg*/
.mainContent section:nth-child(3) ul > li > a > p{
	width:22%;
	margin:0 auto;
	margin-bottom:2px;
}
/*text*/
.mainContent section:nth-child(3) ul > li > a > span{
	color:#333;
	display:block;
}

/*section7 오프라인매장*/
.mainContent > section:nth-child(7){
	margin-bottom:16px;
}
