.reviewTabBtn {
	float:left;
}
.reviewTabBtn > a{
	float:left;
	display:block;
	font-size:13px;
	color:#999;
}
.reviewTabBtn > a.on{
	color:#222;
	font-weight:600;
}
.reviewTabBtn > a:nth-child(1){
	margin-right:8px;
}
.review section.list > ul > li{
	width:100%;
	border:0;
}
.review section.list > ul > li > a{
	width:95%;
	display:block;
	color:#444;
	font-size:13px;
	line-height:20px;
}
/*img*/
.review section.list > ul > li > a > p{
	width:100%;
	text-align:center;
}
/*text*/
.review section.list > ul > li > a > p:nth-child(2){
	margin-top:8px;
}
.review section.list > ul > li > a > p > span{
	display:block;
	width:100%;
	font-size:12px;
}
.review section.list > ul > li > a > p > strong{
	display:block;
	width:100%;
	color:#333;
	font-size:14px;
	margin-bottom:7px;
}
.review section.list > ul > li > a > p > span:nth-of-type(3){
	font-size:12px;
	color:#999;
}
.review section.list > div:nth-of-type(2) > a{
    width: 100%;
    padding: 10px 0;
    position: relative;
}
.review #tabCon2{
	display:none;
}